<h1>My Tweets </h1>
<h4><%= current_user.email %></h4>
<br>


<div class="span9">
  <div class="well sidebar-nav">
    <% @tweets.each do |tweet| %><p>
      <%= tweet.content %>
    <% end %>

  </div><!--/.well -->
</div><!--/span-->


    <div class="row-fluid">
        <div class="span3 offset1">
          <div class="well sidebar-nav">
            <%= form_for(@tweet) do |f| %>
              <p><%= f.text_field (:content) %></p>
              <div><%= f.submit("Tweet Now") %></div>
            <% end %>

          </div><!--/.well -->
        </div><!--/span-->
      </div>